<div class="container">
    <div class="row mt-5">
        <form [formGroup]="postForm" (ngSubmit)="addPost()">
            <div class="mb-3">
                <label for="titleInput" class="form-label">Tytuł</label>
                <input formControlName="title" class="form-control" id="titleInput">
            </div>
            <div class="mb-3">
                <label for="textInput" class="form-label">Treść</label>
                <textarea formControlName="text" class="form-control" id="textInput" rows="3"></textarea>
            </div>

            <div>
                <button type="submit" [disabled]="postForm.invalid" class="btn btn-primary mb-3">
                    Dodaj
                </button>
            </div>
        </form>
    </div>
</div>

