<h1>BLOG
    <hr> Misja: poznaj możliwości ANGULARA
</h1>
<div class="container" *ngIf="posts$ | async as posts">
    <div class="row mt-3">
        <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let post of posts">
            <div class="card m-1">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                </div>
                <div class="card-body">
                    <button type="button" [routerLink]="['/posts', post.id]" class="btn btn-primary">
                        Wyświetl
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-danger" (click)="removePost(post.id)">
                        Usuń
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

